@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}


@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@font-face {
  font-family: 'TmonMonsori';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}